<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EditProfile</title>
    <link rel="stylesheet" href="aboutUs.css"/> 
</head>
{% include header%}
<body>
    <div>
        <h1><span class = "texteColor">A propos</span> de nous !</h1>
        <h3>Apprenez Java avec une <span class = "texteColor">nouvelle approche</span></h3>
        <div id = "charabia">
            <p>
            Nous sommes une équipe de développeurs "passionnés", en collaboration avec des universités, dédiée à rendre l’apprentissage de Java plus interactif et motivant. 
            Les cours sont conçus et mis en ligne par des professeurs compétents, et organisés sous forme de parcours progressif où vous débloquez chaque étape en réussissant 
            les quiz, pour apprendre efficacement tout en restant engagé.
            </p>
        </div>
        <button type = "button" class = "button">Nos établissment partenaire</button>
    </div>
</body>
{% include footer%}