<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" href="/static/css/profil-utilsateur.css">
</head>
<body>

<div class="page">

    <h1>Votre Profil</h1>
    <p class="subtitle">
        Gérez vos information et modifiez votre mot de passe
    </p>

    <!-- CARD -->
    <div class="card">

        <h2>Informations personnelles</h2>

        <div class="form-row">
            <div class="input-group">
                <label>Nom d'utilisateur</label>
                <input type="text" value="Sait">
            </div>

            <button class="btn">Modifier</button>
        </div>

        <div class="form-row">
            <div class="input-group">
                <label>Adresse email</label>
                <input type="email" value="hayatsait@gmail.com">
            </div>

            <button class="btn">Modifier</button>
        </div>

    </div>
    <!-- SUPPRIMER COMPTE -->
<div class="card danger-card">

    <h2>Supprimer mon compte :</h2>

    <p class="danger-text">
        La suppression de votre compte est définitive. Toutes vos informations
        et vos actions passées seront perdues et ne pourront pas être récupérées.
    </p>

    <div class="danger-action">
        <button class="btn danger-btn">Supprimer mon compte</button>
    </div>

</div>
</div>

</body>
</html>