{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="container">

  <div class="left">
    <div class="left-content">
      <h1>
        Continue à apprendre <span>Java</span><br>
        en relevant des défis<br>
        niveau après niveau
      </h1>

      <img src="{% static 'images/image1.png' %}" alt="illustration">
    </div>
  </div>

  <div class="right">
    <h2><span>Bienvenue</span> à nouveau</h2>

    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      <input type="email" name="email" placeholder="Adresse email" required>
      <input type="password" name="password" placeholder="Mot de passe" required>
      <button type="submit" class="btn-login">Se connecter</button>
    </form>

    <p class="signup">
      Première fois ici ? <a href="{% url 'signup' %}">Inscrivez vous maintenant</a>
    </p>
  </div>

</div>

</body>
</html>