{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Inscription</title>
<link rel="stylesheet" href="{% static 'css/Signin.css' %}"/>
<script src="{% static 'js/event.js' %}" defer></script>
</head>

<body>

<div class="page_princ">

  <div class="gauche-signin">
    <div class="SignIn">
      <h1><span class="Bienvenue">Bienvenue</span> parmi nous</h1>

      {% if form.errors %}
        <div class="error-box">
          {% for field in form %}
            {% for error in field.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}

      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}

      <form method="POST">
        {% csrf_token %}
        <input type="text" class="input" name="first_name" placeholder="Prénom" required>
        <input type="text" class="input" name="last_name" placeholder="Nom" required>
        <input type="email" class="input" name="email" placeholder="Adresse email" required>
        <input type="password" class="input" name="password" placeholder="Mot de passe" required>
        <input type="password" class="input" name="confirm_password" placeholder="Confirmez le mot de passe" required>

        <button type="submit" class="button">Créer un compte</button>
      </form>

      <p class="login-link">
        Déjà un compte ?
        <span onclick="window.location.href='{% url 'signin' %}'" style="cursor:pointer;">
          Connectez vous maintenant
        </span>
      </p>
    </div>
  </div>

  <div class="bloc-droit-signin">
    <h2 class="titre-page">
      Choisissez <span>votre personnage</span>
    </h2>

    <div class="nom-perso">Lucie</div>

    <div class="stats">
      <div>
        <div class="stat-nom">Rigoureuse</div>
        <div class="barre"><div class="remplissage"></div></div>
      </div>

      <div>
        <div class="stat-nom">Méthodique</div>
        <div class="barre"><div class="remplissage"></div></div>
      </div>

      <div>
        <div class="stat-nom">Analytique</div>
        <div class="barre"><div class="remplissage"></div></div>
      </div>
    </div>

    <div class="perso">
      <img src="{% static 'images/image_lucie.png' %}" alt="Lucie">
    </div>

    <button class="fleche gauche-fleche" type="button"></button>
    <button class="fleche droite-fleche" type="button"></button>
    <button class="btn-choisir" id="choisirBtn" type="button">+ Choisir</button>
  </div>

</div>

</body>
</html>