{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultat du quiz</title>
    <link rel="stylesheet" href="{% static 'css/terminer-quiz-prof.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <div class="page-container">

        <aside class="sidebar">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo JavaMastery AI">
            </div>

            <nav class="menu">
                <a href="{% url 'subjects_page' %}" class="menu-item">
                    <img src="{% static 'images/logo-cours.png' %}" alt="">
                    <span>Mes cours</span>
                </a>

                <a href="{% url 'chatbot_page' %}" class="menu-item">
                    <img src="{% static 'images/logo-chatbot.png' %}" alt="">
                    <span>Chatbot</span>
                </a>

                <a href="{% url 'games_page' %}" class="menu-item active">
                    <img src="{% static 'images/logo-jeu.png' %}" alt="">
                    <span>Quizs et jeux</span>
                </a>
            </nav>

            <div class="sidebar-illustration">
                <img src="{% static 'images/image.png' %}" alt="Illustration">
            </div>
        </aside>

        <main class="main-content">

            <section class="result-card">
                <h1>
                    Vous avez terminé le quiz :
                    <span>{{ quiz.title }}</span>
                </h1>

                <p id="score-text">Chargement du score...</p>
                <p id="attempt-text"></p>

                <div class="buttons-row">
                <a href="{% url 'review_attempt_page' quiz.id %}" class="action-btn" id="review-errors-btn">
                    Voir mes erreurs
                </a>   
                    <button class="action-btn" id="reset-attempts-btn" type="button" style="display:none;">
        Réinitialiser mes essais
    </button>                
                <button class="action-btn" id="generate-errors-btn">Générer quiz erreurs</button>
                </div>
                

                <div id="next-course-box"></div>
            </section>

            <div class="character-box">
                <img id="personnageImage" src="{% static 'images/image_leo.png' %}" alt="Personnage choisi">
            </div>

        </main>

    </div>

<script>
    const quizId = "{{ quiz.id }}";
    const resetAttemptsUrl = "{% url 'reset_quiz_attempts' quiz.id %}";
</script>
    <script src="{% static 'js/resultat-quiz.js' %}"></script>
</body>
</html>