<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Quiz - JavaMastery AI</title>
    <link rel="stylesheet" href="/static/css/quiz.css">
</head>
<body>

<div class="container">

    <!-- SIDEBAR -->
    <aside class="sidebar">
        <div class="logo">
            <img src="/static/images/logo.png" alt="">
        </div>

        <nav class="menu">
            <a href="coursprincipal.html" class="menu-item ">
                <img src="/static/images/cours.png" alt="">
                <span>Mes cours</span>
            </a>

            <a href="page-chatbot.html" class="menu-item">
                <img src="/static/images/chatbot.png" alt="">
                <span>Chatbot</span>
            </a>

            <a href="jeux.html" class="menu-item active">
                <img src="/static/images/logo-jeu.png" alt="menu-item ">
                <span>Quizzz et jeux</span>
            </a>
        </nav>

        <div class="sidebar-illustration">
            <img src="/static/images/image-femme.png" alt="">
        </div>
    </aside>

    <!-- MAIN -->
    <main class="main">

        <div class="quiz-container">

            <!-- HEADER -->
            <div class="quiz-header">

                <div class="progress">2/10</div>

                <div class="quiz-header-text">
                    <h2>Question <span>01</span></h2>
                    <p>
                        Quelle boucle est utilisée lorsque le
                        nombre d’itérations est connu à l’avance ?
                    </p>
                </div>

            </div>

            <!-- ANSWERS -->
            <div class="answers">

                <label class="answer">
                    <input type="radio" name="q1">
                    <div class="answer-content">
                        <span>While</span>
                        <div class="circle"></div>
                    </div>
                </label>

                <label class="answer">
                    <input type="radio" name="q1">
                    <div class="answer-content">
                        <span>Do ... while</span>
                        <div class="circle"></div>
                    </div>
                </label>

                <label class="answer">
                    <input type="radio" name="q1">
                    <div class="answer-content">
                        <span>For</span>
                        <div class="circle"></div>
                    </div>
                </label>

            </div>

            <!-- FOOTER -->
            <div class="quiz-footer">
                <a href="terminer-quiz-prof.html" class="btn-next">terminer</a>
                
            </div>

        </div>

    </main>

</div>

</body>
</html>