<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sign in</title>
<link rel="stylesheet" href="Signin.css"/>
<script src="event.js" defer></script>
</head>

<body>

<div class="page_princ">

<!-- GAUCHE -->
<div class="gauche-signin">

<div class="SignIn">
<h1><span class="Bienvenue">Bienvenue</span> parmi nous</h1>

<input type="text" class="input" placeholder="Nom d'utilisateur">
<input type="email" class="input" placeholder="Adresse email">
<input type="password" class="input" placeholder="Mot de passe">
<input type="password" class="input" placeholder="Confirmez le mot de passe">

<button class="button">Créer un compte</button>
<p class="login-link">
  Déjà un compte ?
  <span onclick="window.location.href='login.html'" style="cursor:pointer;">
    Connectez vous maintenant
  </span>
</p>
</div>
</div>

<!-- DROITE -->
<div class="bloc-droit-signin">

<h2 class="titre-page">
Choisissez <span>votre personnage</span>
</h2>

<div class="nom-perso">Lucie</div>

<div class="stats">

<div>
<div class="stat-nom">Rigoureuse</div>
<div class="barre"><div class="remplissage"></div></div>
</div>

<div>
<div class="stat-nom">Méthodique</div>
<div class="barre"><div class="remplissage"></div></div>
</div>

<div>
<div class="stat-nom">Analytique</div>
<div class="barre"><div class="remplissage"></div></div>
</div>

</div>

<div class="perso">
<img src="image_lucie.png">
</div>

<button class="fleche gauche-fleche"></button>
<button class="fleche droite-fleche"></button>

<button class="btn-choisir" id="choisirBtn">+ Choisir</button>

</div>

</div>

</body>
</html>