{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un subject</title>
    <link rel="stylesheet" href="{% static 'css/AjoutCours.css' %}">
</head>
<body>
<div class="app-container">
    <aside class="sidebar">
        <div class="sidebar-top">
            <div class="logo-container">
                <img src="{% static 'images/logo.png' %}" alt="JavaMastery AI" class="logo">
            </div>

            <nav class="navigation">
                <a href="{% url 'teacher_courses_list_page' %}" class="nav-link">
                    <span>Mes cours</span>
                </a>
                <a href="{% url 'chatbot_page' %}" class="nav-link">
                    <span>Chatbot</span>
                </a>
                <a href="{% url 'teacher_actions_page' %}" class="nav-link active">
                    <span>Actions</span>
                </a>
            </nav>
        </div>

        <div class="sidebar-bottom">
            <img src="{% static 'images/image-femme.png' %}" alt="Illustration" class="side-img">
        </div>
    </aside>

    <div class="main-content">
        <h3 id="titr">Formulaire d’ajout de subject</h3>
        <p>Veuillez remplir ce formulaire pour créer un nouveau subject.</p>

        <form method="POST" class="insert-cours">
            {% csrf_token %}

            <li>
                <label for="{{ form.title.id_for_label }}">Titre du subject</label>
                {{ form.title }}
            </li>

            <li>
                <label for="{{ form.description.id_for_label }}">Description</label>
                {{ form.description }}
            </li>

            <li>
                <label for="{{ form.is_published.id_for_label }}">Publier immédiatement</label>
                {{ form.is_published }}
            </li>

            <li>
                <button type="submit" id="submitbutton">Publier</button>
            </li>
        </form>
    </div>
    {% if messages %}
    <div class="messages-container">
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
</div>
</body>
</html>